
<div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" defaultvalue="{{loginUser.nombre}}" placeholder="{{loginUser.nombre}}" name="nombre" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
<div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input type="text" class="form-control" defaultvalue="{{loginUser.email}}" placeholder="{{loginUser.email}}" name="email" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
<div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Contraseña</span>
        <input type="password" class="form-control" placeholder="Contraseña" name="password" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>