<form action="/v2/login" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Rut</span>
        <input type="text" class="form-control" placeholder="1234567-1" name="rut" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Contraseña</span>
        <input type="password" class="form-control" placeholder="Contraseña" name="password" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <button type="submit" class="btn btn-primary me-2">Login</button>
</form>