<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fidelis Global Bank</title>

    {{>styles}}

</head>

<body>
    <header>
        {{>navbar}}
        <h1 class="text-center p-3">Fidelis Global Bank</h1>
    </header>
    <main class="container-fluid">
        <div class="row-cols-1 ">
            
            <div class="container col-md-6 mt-5 border rounded p-5 .backgroundOpacity" >
                <h2>Iniciar Sesion</h2>
                {{>login}}
            </div>

        </div>



    </main>
    <footer>

    </footer>
    {{>scripts}}
</body>

</html>