h1 {
    color: rgb(76, 76, 252);
}


.border {
   border-style: dashed;
   border-color: rgb(0, 0, 0);
   border-width: 3px;
   background-color: white;

}

body {
    background-image: url(../img/wallpaper.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.body{
    background-color: rgb(255, 255, 255);
}

